html, body {
  height: 100%;
  background-color: lightgrey !important;
}

button.login {
  background-color: #0d6aad;
  color: white;
  font-size: 12px;
  font-weight: bold;
  height: 28px;
  min-width: 70px;
  width: auto;
}

button.login:disabled {
  background-color: #5bc0de;
}
