.block {
  margin-left: 15px;
  width: 530px;
  border: 1px solid darkgray;
  margin-bottom: 8px;
}

.header {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  font-size: 16px;
}

.domain {
  font-weight: bold;
}

.mark {
  border-radius: 100px;
  width: 30px;
  height: 30px;
  color: white;
  display: flex;
  justify-content: center;
  align-content: center;
}

.text {
  font-size: 14px;
  margin-bottom: 1px;
}
