.block {
  margin-left: 15px;
  width: 600PX;
  border: 1px solid darkgray;
  margin-bottom: 8px;
}

.header {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  font-size: 16px;
  font-family: DecisoRegularItalic;
}

.domain {
  font-weight: bold;
}

.text {
  font-size: 14px;
  font-family: DecisoRegularItalic;
  margin-bottom: 1px;
}
